{% load static %}
    <meta charset="utf-8">
    <title>Study Designer Portal</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'StandardDeveloper1/wa-app.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'StandardDeveloper1/favicon.ico' %}">

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-en-US.js"></script>
    <script type="text/javascript" src="{% static 'StandardDeveloper1/NewStudy.js' %}"></script>
    <script type="text/javascript" src="{% static 'StandardDeveloper1/Utilities.js' %}"></script>
    <script type="text/javascript" src="{% static 'StandardDeveloper1/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'StandardDeveloper1/DatasetMD.js' %}"></script>
    <script type="text/javascript" src="{% static 'StandardDeveloper1/VarOrVLM.js' %}"></script>

