<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

{% load static %}
<head>

    {% include 'StandardDeveloper1/head.html' %}

</head>

<body>

<!-- Modal -->
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        	<form action='NewStudy'>
        		<div id='hide'>
        			<input type="hidden" name="StudyDescription"/>
        			<input type="hidden" name="StudyName"/>
        			<input type="hidden" name="ProtocolName"/>
        			<input type="hidden" name="ExtDicts"/>
        			<input type="hidden" name="Documents"/>
        			<input type="hidden" name="ModelName"/>
        			<input type="hidden" name="ModelVersion"/>
        		</div>

	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal">&times;</button>
	                <h4 class="modal-title" id="mh14"></h4>
	            </div>

	            <div class="modal-body" id="mb1">
	                <div class="container" id="mbc1">
 					</div>
	            </div>

	            <div class="modal-footer" id="mf1">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	                <input type="button" class="btn btn-success" value="Next"></input>
	            </div>
        	</form>
        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please make a selection</h4>
            </div>

            <div class="modal-body">
                <div class="container">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success" data-dismiss="modal" onclick="waitingDialog.show();setTimeout(function () {waitingDialog.hide();}, 4000);">OK</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        	<form action="EditStudy">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal">&times;</button>
	                <h4 class="modal-title" id="mh2"></h4>
	            </div>

	            <div class="modal-body" id="mb2">
	                <div class="container" id="mbc2">
	                </div>
	            </div>

	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	                <button type="submit" class="btn btn-success" value="Finish">OK</button>
	            </div>
	        </form>
        </div>
    </div>
</div>

  {% include 'StandardDeveloper1/sidebar.html' %}

  {% include 'StandardDeveloper1/topbar.html' %}

  <!--div>
    <div id="appWell" class="well">
        <h2>Dataset Designer</h2><p>&nbsp;</p>
        <div class="row">
	         <a class="btn btn-success btn-lg text-center" id="NewStudy" aria-label="Settings">
        <i class="fa fa-file-text fa-5x" aria-hidden="true"></i><br>Create a<br>new study
    </a>

	<a class="btn btn-success btn-lg text-center" data-toggle="modal" data-target="#myModal" aria-label="Settings">
	    <i class="fa fa-copy fa-5x" aria-hidden="true"></i><br>Create new study<br>from existing
	</a>

	<a class="btn btn-success btn-lg text-center" id="CurrentStudy" aria-label="Settings">
	    <i class="fa fa-pencil fa-5x" aria-hidden="true"></i><br>Edit existing<br>study data
	</a>
        </div>
    </div>
  </div-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dataset Designer</li>
        </ol>
    </nav>
            <a href="#" id="NewStudy">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="box-part text-center">
                        <i class="fa fa-file-text-o fa-5x" aria-hidden="true" style="color:#006A3B"></i>
						<div class="title">
                            <h4>Create Study</h4>
						</div>
					 </div>
				</div>
            </a>

            <a href="#">
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="box-part text-center">
					    <i class="fa fa-copy fa-5x" aria-hidden="true" style="color:#006A3B"></i>
						<div class="title">
                            <h4>Clone Study</h4>
						</div>
					 </div>
				</div>
            </a>

            <a href="#" id="CurrentStudy">
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="box-part text-center">
                        <i class="fa fa-edit fa-5x" aria-hidden="true" style="color:#006A3B"></i>
						<div class="title">
                            <h4>Edit Study</h4>
						</div>
					 </div>
				</div>
            </a>
  {% include 'StandardDeveloper1/footer.html' %}

</body>
</html>
