<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script>
		$(document).ready(function(){
			var ptxt='Record Source Data sets <br>' ;
			SrcObject=JSON.parse($('[name="Sources"]').val()) ;
			SrcList=SrcObject['sources'];
			for (x in SrcList) {
				ptxt += SrcList[x]['Dataset']
				if (SrcList[x]['Subset']) {
					ptxt += ' where '+SrcList[x]['Subset'] ;
				ptxt += '<br>'
				}
			}
			$('#sourcelist').html(ptxt);
		})
	</script>
</head>

<body>
<div class="w3-container w3-center w3-large">
	<p><b>STUDY: {{Study}}<br/></b></p>
</div>

<div class="w3-container w3-teal">

	<p>
		Predecessor variables are those that are copied from one data set to another.  <br>
		We begin by defining predecessors from the main record source data set(s).
	</p>

	<form method="post" action='SetMDVar' class="w3-container w3-teal" style="height:100%">
	{% csrf_token %}
	
	<input type="hidden" name="DSName" value="{{DSName}}"/>
	<input type="hidden" name="Class" value="{{Class}}"/>
	<input type="hidden" name="ReturnTo" value="{{ReturnTo}}"/>
	<input type="hidden" name="Study" value="{{Study}}"/>
	<input type="hidden" name="StandardName" value="{{StandardName}}"/>
	<input type="hidden" name="StandardVersion" value="{{StandardVersion}}"/>
	<input type="hidden" name="Sources" value="{{Sources}}"/>
	<input type="hidden" name="VarSource" value="{{VarSource}}"/>

	<p id="sourcelist"></p>
	
	<div class="w3-cell-row" style="position:relative">
		<div class="w3-cell" style="width:45%">
			<p class="w3-center">Predecessor Variables to Add</p>
			<table border="1 solid" class="w3-table-all">
				<thead>
					<tr>
						<th>Variable</th>
						<th class="w3-center">Add</th>
					</tr>
				</thead>
				<tbody>
				{% for x in StandardPredsList %}
					<tr>
						<td>{{x}}</td>
						<td class='w3-center'>
							<input type="submit" value="Add" class="w3-button w3-dark-grey w3-round-medium" name="add_{{x}}"/>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td><i>Other Record Source Predecessor</i></td>
					<td class='w3-center'>
						<input type="submit" value="Add" class="w3-button w3-dark-grey w3-round-medium" name="add_rspred"/>
					</td>
				</tr>
				</tbody>
			</table>
			<p>Once finished defining record source predecessors, click here to define predecessors from other data sets</p>
			<input type="submit" value="Next" class="w3-button w3-dark-grey w3-round-large" formaction="Record2Join"/>
		</div>

		<div class="w3-cell" style="width:10%">
			<p></p>
		</div>

		<div class="w3-cell" style="width:45%">
			<p class="w3-center">{{Study}} {{DSName}} Predecessor Variables</p>
			<table border="1 solid" class="w3-table-all w3-hoverable">
				<thead>
					<tr>
						<th>Variable</th>
						<th>Label</th>
						<th class="w3-center">Remove</th>
						<th class="w3-center">Edit</th>
					</tr>
				</thead>
				<tbody>
				{% for x in StudyVarsRL %}
					<tr>
						<td>{{x.Name}}</td>
						<td>{{x.Label}}</td>
						<td class='w3-center'>
							<input type="submit" value="Remove" class="w3-button w3-dark-grey w3-round-medium" name="rmv_{{x.Name}}"/>
						</td>
						<td class='w3-center'>
							<input type="submit" value="Edit" class="w3-button w3-dark-grey w3-round-medium" name="edit_{{x.Name}}"/>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

	</div>

</div>
</body>
