<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<div class="w3-container w3-center w3-large">
	<p><b>STUDY: {{Study}}<br/>
		{{DSName}} Metadata</b></p>
</div>

<div>
<form method="post" action='NewDS' class="w3-container w3-teal" style="height:100%">
	<br/>
{% csrf_token %}
	<div>
		<input type="hidden" name="Study" value="{{Study}}"/>
		<input type="hidden" name="StandardName" value="{{StandardName}}"/>
		<input type="hidden" name="StandardVersion" value="{{StandardVersion}}"/>
		<input type="hidden" name='Class' value="{{Class}}"/>
		<input type="hidden" name='StandardYN' value="{{StandardYN}}"/>

		{% if StandardYN == "Y" %}
			<p>Data set Name: {{StandardDSProps.0.DSName}}</p>
			<input type="hidden" name="DSName" value="{{StandardDSProps.0.DSName}}"/>

			<p>Data set Label: {{StandardDSProps.0.Label}}</p>
			<input type="hidden" name="Label" value="{{StandardDSProps.0.Label}}"/>

			{% if StandardDSProps.0.Repeat %}
				<input type="hidden" name="Repeat" value="{{StandardDSProps.0.Repeat}}"/>
			{% elif StudyDSProps.0.Repeat %}
				<input type="hidden" name="BeforeRepeat" value="{{StudyDSProps.0.Repeat}}"/>
				<p>Can subject have more than one row?&nbsp;&nbsp;
				<select name="Repeat">
					<option {% if StudyDSProps.0.Repeat == "Yes" %} selected {% endif %}>Yes</option>
					<option {% if StudyDSProps.0.Repeat == "No" %} selected {% endif %}>No</option>
				</select></p>
			{% else %}
				<p>
				<select name="Repeat">
					<option selected disabled>Can subject have more than one row?</option>
					<option>Yes</option>
					<option>No</option>
				</select></p>
			{% endif %}

			{% if StandardDSProps.0.Structure %}
				<input type="hidden" name="Structure" value="{{StandardDSProps.0.Structure}}"/>
			{% elif StudyDSProps.0.Structure %}
				<input type="hidden" name="BeforeStructure" value="{{StudyDSProps.0.Structure}}"/>
				<p>Data set Structure&nbsp;&nbsp;
				<input type="text" maxlength="75" size="75" name="Structure" value="{{StudyDSProps.0.Structure}}"/></p>
			{% else %}
				<p>
				<input type="text" maxlength="75" size="75" name="Structure" placeholder="Data set Structure (i.e. One record per ...)" /></p>
			{% endif %}

			{% if StandardDSProps.0.Reference %}
				<input type="hidden" name="Reference" value="{{StandardDSProps.0.Reference}}"/>
			{% elif StudyDSProps.0.Reference %}
				<input type="hidden" name=BeforeReference value="{{StudyDSProps.0.Reference}}"/>
				<p>Reference Data?&nbsp;&nbsp;
				<select name="Reference">
					<option {% if StudyDSProps.0.Reference == "Yes" %} selected {% endif %}>Yes</option>
					<option {% if StudyDSProps.0.Reference == "No" %} selected {% endif %}>No</option>
				</select></p>
			{% else %}
				<p>
				<select name="Reference">
					<option selected disabled>Reference Data?</option>
					<option>Yes</option>
					<option>No</option>
				</select></p>
			{% endif %}

		{% else %}
			<p> Data set Name: &nbsp; &nbsp; <input type="text" maxlength="8" size="8" name="DSName" value="{{StudyDSProps.0.DSName}}"/></p>
			{% if StudyDSProps.0.DSName %}
				<input type="hidden" name="BeforeDSName" value="{{StudyDSProps.0.DSName}}"/>
			{% endif %}

			<p> Data set Label &nbsp; &nbsp; <input type="text" maxlength="40" size="40" name="Label" value="{{StudyDSProps.0.Label}}"/></p>
			{% if StudyDSProps.0.Label %}
				<input type="hidden" name="BeforeLabel" value="{{StudyDSProps.0.Label}}"/>
			{% endif %}

			<p>
			{% if StudyDSProps.0.Repeat %}
				<input type="hidden" name="BeforeRepeat" value="{{StudyDSProps.0.Repeat}}"/>
				Can subject have more than one row?&nbsp;&nbsp;
				<select name="Repeat">
					<option {% if StudyDSProps.0.Repeat == "Yes" %} selected {% endif %}>Yes</option>
					<option {% if StudyDSProps.0.Repeat == "No" %} selected {% endif %}>No</option>
				</select>
			{% else %}
				<select name="Repeat">
					<option selected disabled>Can subject have more than one row?</option>
					<option>Yes</option>
					<option>No</option>
				</select>
			{% endif %}
			</p>

			<p>
			{% if StudyDSProps.0.Structure %}
				<input type="hidden" name="BeforeStructure" value="{{StudyDSProps.0.Structure}}"/>
				Data set Structure&nbsp;&nbsp;
				<input type="text" maxlength="75" size="75" name="Structure" value="{{StudyDSProps.0.Structure}}"/></p>
			{% else %}
				<input type="text" maxlength="75" size="75" name="Structure" placeholder="Data set Structure" /></p>
			{% endif %}
			</p>

			<p>
			{% if StudyDSProps.0.Reference %}
				<input type="hidden" name="BeforeReference" value="{{StudyDSProps.0.Reference}}"/>
				Can subject have more than one row?&nbsp;&nbsp;
				<select name="Reference">
					<option {% if StudyDSProps.0.Reference == "Yes" %} selected {% endif %}>Yes</option>
					<option {% if StudyDSProps.0.Reference == "No" %} selected {% endif %}>No</option>
				</select>
			{% else %}
				<select name="Reference">
					<option selected disabled>Reference Data?</option>
					<option>Yes</option>
					<option>No</option>
				</select>
			{% endif %}
			</p>
		{% endif %}
	</div>

	<div>
		<p/>
		{% if StudyDSProps %}
			<input type="submit" value="OK" class="w3-button w3-dark-grey w3-round-medium" formaction='EditStudyDS'/>
		{% elif Class == 'BASIC DATA STRUCTURE' %}
			<input type="submit" value="Define Parameters" class="w3-button w3-dark-grey w3-round-medium"/>
		{% else %}
			<input type="submit" value="Define Main Source" class="w3-button w3-dark-grey w3-round-medium"/>
		{% endif %}
	</div>
</form>
</div>