<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<div class="w3-container w3-center w3-large">
	<p><b>STUDY: {{Study}}<br/>
		Merge Data Set #{{MergeOrder}}</b></p>
</div>

<div>
<form method="post" action='Merge' class="w3-container w3-teal" style="height:100%">
{% csrf_token %}
	<div class="w3-cell-row">
		<div class="w3-cell" style="width:45%">
			<br/>
			<input type="hidden" name="DSName" value="{{DSName}}"/>
			<input type="hidden" name="MergeOrder" value="{{MergeOrder}}"/>
			<input type="text" maxlength="8" size="8" name="DSPredecessor" value="{{DSPredecessor}}"/><br><label>Name of the merge source data set #{{MergeOrder}}</label><br><br>
			<input type="text" maxlength="75" size="75" name="DSSubset" value="{{DSSubset}}"/><br><label>Describe how to subset this source (if applicable)</label><br/><br/>
			<input type="text" maxlength="75" size="75" name="DSJoinCond" value="{{DSJoinCond}}"/><br><label>Describe the join conditions with the main source data set</label><br/><br/>
			<input type="submit" value="Define a Predecessor Variable" class="w3-button w3-dark-grey w3-round-medium" name="frommerge"/><br><br>
			<input type="submit" value="Finish and define a new Merge data set" class="w3-button w3-dark-grey w3-round-medium" name="merge"/><br><br>
			<input type="submit" value="Finish and define model variables" formaction="Model" class="w3-button w3-dark-grey w3-round-medium" name="model"/>
		</div>

		<div class="w3-cell" style="width:10%">
		</div>

		<div class="w3-cell" style="width:45%">
			<p class="w3-center">{{Study}} {{DSName}} {{VarType}} Variables</p>
			<table border="1 solid" class="w3-table-all w3-hoverable">
				<thead>
					<tr>
						<th>Variable</th>
						<th>Label</th>
						<th class="w3-center">Remove</th>
					</tr>
				</thead>
				<tbody>
				{% for x in StudyVarList %}
					<tr>
						<td>{{x.Name}}</td>
						<td>{{x.Label}}</td>
						<td class='w3-center'>
							<input type="submit" value="Remove" class="w3-button w3-dark-grey w3-round-medium" name="rmv_{{x.Name}}"/>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</form>