<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<div class="w3-container w3-center w3-large">
	<p><b>STUDY: {{Study}}<br/>
		{{DSName}} Metadata<br/>
		Select Model and Custom Variables</b></p>
</div>

<div>
<form method="post" action='SetMDVar' class="w3-container w3-teal" style="height:100%">
{% csrf_token %}
	<input type="hidden" name="DSName" value="{{DSName}}"/>
	<input type="hidden" name="Study" value="{{Study}}"/>
	<input type="hidden" name="StandardName" value="{{StandardName}}"/>
	<input type="hidden" name="StandardVersion" value="{{StandardVersion}}"/>
	<input type="hidden" name="Class" value="{{Class}}"/>
	<input type="hidden" name="ReturnTo" value="{{ReturnTo}}"/>

	<div class="w3-cell-row" style="position:relative">
		<div class="w3-cell w3-center" style="width:50%;align-content: center">
			<br><input type="submit" value="Finish" name="Finish" formaction="QueryStudy" formmethod="get" class="w3-center w3-button w3-dark-grey w3-round-medium"/><br><br>
		</div>
		<div class="w3-cell w3-center" style="width:50%;align-content: center">
			<br><input type="submit" value="Finish and define custom variables" class="w3-center w3-button w3-dark-grey w3-round-medium" name="new_var" formaction="NewSource" /><br><br>
		</div>
	</div>

	<div class="w3-cell-row" style="position:relative">
		{% if StandardList and ModelList %}
			<div class="w3-cell" style="width:30%">
				<p class="w3-center">Standard {{DSName}} Variables to Add</p>
				<table border="1 solid" class="w3-table-all">
					<thead>
						<tr>
							<th>Variable</th>
							<th class="w3-center">Add</th>
						</tr>
					</thead>
					<tbody>
					{% for x in StandardList %}
						<tr>
							<td>{{x}}</td>
							<td class='w3-center'>
								<input type="submit" value="Add" class="w3-button w3-dark-grey w3-round-medium" name="addstd_{{x}}"/>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<p/>
			</div>

			<div class="w3-cell" style="width:5%">
				<p></p>
			</div>

			<div class="w3-cell" style="width:30%">
				<p class="w3-center">Model Variables to Add</p>
				<table border="1 solid" class="w3-table-all">
					<thead>
						<tr>
							<th>Variable</th>
							<th class="w3-center">Add</th>
						</tr>
					</thead>
					<tbody>
					{% for x in ModelList %}
						<tr>
							<td>{{x}}</td>
							<td class='w3-center'>
								<input type="submit" value="Add" class="w3-button w3-dark-grey w3-round-medium" name="addmod_{{x}}"/>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<p/>
			</div>

			<div class="w3-cell" style="width:5%">
				<p></p>
			</div>

		{% elif ModelList %}
			<div class="w3-cell" style="width:45%">
				<p class="w3-center">Model Variables to Add</p>
				<table border="1 solid" class="w3-table-all">
					<thead>
						<tr>
							<th>Variable</th>
							<th class="w3-center">Add</th>
						</tr>
					</thead>
					<tbody>
					{% for x in ModelList %}
						<tr>
							<td>{{x}}</td>
							<td class='w3-center'>
								<input type="submit" value="Add" class="w3-button w3-dark-grey w3-round-medium" name="addmod_{{x}}"/>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<p/>
			</div>

			<div class="w3-cell" style="width:10%">
				<p></p>
			</div>

		{% elif StandardList %}
			<div class="w3-cell" style="width:45%">
				<p class="w3-center">Standard {{DSName}} Variables to Add</p>
				<table border="1 solid" class="w3-table-all">
					<thead>
						<tr>
							<th>Variable</th>
							<th class="w3-center">Add</th>
						</tr>
					</thead>
					<tbody>
					{% for x in StandardList %}
						<tr>
							<td>{{x}}</td>
							<td class='w3-center'>
								<input type="submit" value="Add" class="w3-button w3-dark-grey w3-round-medium" name="addstd_{{x}}"/>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<p/>
			</div>

			<div class="w3-cell" style="width:10%">
				<p></p>
			</div>
		{% endif %}

		{% if StandardList and ModelList %}
			<div class="w3-cell" style="width:30%">
		{% else %}
			<div class="w3-cell" style="width:45%">
		{% endif %}

			<p class="w3-center">{{Study}} {{DSName}} Non-Predecessor Variables</p>
			<table border="1 solid" class="w3-table-all w3-hoverable w3-right">
				<thead>
					<tr>
						<th>Variable</th>
						<th class="w3-center">Remove</th>
						<th class="w3-center">Edit</th>
					</tr>
				</thead>
				<tbody>
				{% for x in StudyVarsRL %}
					{% if x.Origin != 'Predecessor' %}
						<tr>
							<td>{{x.Name}}</td>
							<td class='w3-center'>
								<input type="submit" value="Remove" class="w3-button w3-dark-grey w3-round-medium" name="rmv_{{x.Name}}"/>
							</td>
							<td>
								<input type="submit" value="Edit" class="w3-button w3-dark-grey w3-round-medium" name="edit_{{x.Name}}"/>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			</table>
		</div>

	</div>

</div>

