<form action="NCL" method="post">
{% csrf_token %}
<p>Provide short name of the new codelist</p>
<input type="text" name="OID" length="15"/>
<br/>
<br/>
<p>Provide description of new codelist</p>
<textarea rows="3" cols="40" maxlength="120" name="Name"></textarea>
<br/>
<br/>
<p>Select the proper data type</p>
<select name="datatype">
	<option>text</option>
	<option>integer</option>
	<option>float</option>
</select>
<br/>
<br/>
<input type="checkbox" name="decodeflag"/>&nbsp; Check here to include decodes
<br/>
<br/>	
<input type="submit" name="newCL"/>
</form>