<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script>
		$(document).ready(function(){
			$('#S11').on('click','#Start',function(){
				var paramn=$('#paramnTF').prop('checked');
				var parcat=$('#parmcatNbr').val();
				//Remove initial stuff
				$('#S11').empty();
				BuildParms(paramn,parcat);
			})

			// Process user input by creating a javascript object out of the collected values for this parameter and adding the object to the JSON string in the hidden input.  Then call the function that puts them into a table.
			// Javascript object is a dictionary with one key - PARMS - and the value is a list of dictionaries, each dictionary corresponding to a parameter
			$('#S12').on('click','#parmdone',function(){
				// Put collected values for this parameter into a javascript object called THISPARM
				var thisparm={'paramcd':$('#pcd').val(),'param':$('#parm').val()} ;	

				// if a parameter. number was included
				var pn = $('#pn').val();
				if (pn) {
					thisparm["paramn"]=pn ;
				}

				// if parcats were included
				var pcatnbr = document.getElementsByClassName('pcat').length;
				if (pcatnbr>0){
					// Create a javascript object of PCAT values called PARCATS
					var parcats={} ;
					for (x=1; x<=pcatnbr; x++){
						parcats["parcat"+x]=$('#pcat'+x).val() ;
					}
					// Add the PARCATS object to the THISPARM object
					thisparm['parcats']=parcats ;
				}

				// if dtypes were included, then pull them out of the mini table, create a javascript object from them, and add to THISPARMS
				var table=document.getElementById('tblDType');
				var rowcount=table.rows.length;
				if (rowcount > 1){
					var dtypes={} ;
					for (x=1; x<rowcount; x++) {
							dtypes[table.rows[x].cells[0].innerHTML]=table.rows[x].cells[1].innerHTML ;
						}
					}
					thisparm['dtypes']=dtypes; 


				// Add to the JSON string in the hidden parameter
				// First see if anything is already in this hidden parameter.  If so, convert it from string to javascript object.
				if ($('#parms').val()){
					var parmsobj=JSON.parse($('#parms').val());
					// Extract the list of dictionaries
					var parmslist=parmsobj.parms;
					// Add the current parameter
					parmslist.push(thisparm) ;
					// Now convert back to string
					var parmsstring='';
					parmsstring=JSON.stringify({"parms":parmslist}) ;
					// Remove the current hidden input element
					$('#parms').remove();
				}

				else {
					// If nothing is there, then add the current values to a new string
					var parmsstring=JSON.stringify({'parms':[thisparm]});
				}

				$('#hide').append("<input type='hidden' name='parms' id='parms' value='"+parmsstring+"'>")

				AddParm2Table(thisparm) ;

				// Clear the input boxes
				$('#pcd').val(null);
				$('#parm').val(null);
				if (pn){
					$('#pn').val(null); 
				}
				for (x=1; x<=pcatnbr; x++){
					$('#pcat'+x).val(null) ;
				}
				while (rowcount > 1) {
					table.deleteRow(-1);
					rowcount-- ;
				}
			})

			// When the Add DTYPE button is pressed, add the DTYPE to the mini-table 
			$('#S12').on('click','#adddtype',function(){
				var selection=document.getElementById('dtypelist').value ;
				var functioncall="RemoveRow('tblDType',this)";
				if (selection == 'Custom') {
					rowstring='<tr class="dtyperow"><td>'+$("#dtc").val()+'</td><td>'+$("#dtd").val()+'</td><td><input type="button" onclick="'+functioncall+'" class="w3-button w3-dark-grey w3-round-large w3-center" value="Remove"></td></tr>'; 
					$(rowstring).appendTo('#tblDType') ;
					$('#dtc').remove();
					$('#dtd').remove();
					$('#dtypedefault').prop('selected',true);
				}
			})
		})
	</script>
</head>

<body
	{% if Action == "Add" %}
		onload="NewParmSet()"
	{% elif Action == "Edit" %}
		onload="BuildParms()"
	{% endif %}
	>
	<div class="w3-container w3-center w3-large">
		<p><b>STUDY: {{Study}}<br/></b></p>
	</div>

	<div class="w3-container w3-teal">

		<form method="post" action='AddParameters' class="w3-container w3-teal" style="height:100%">
			{% csrf_token %}
			<div id='Section1' class='w3-cell-row'>
				<div id='S11' class='w3-cell' style='width:75%'></div>
				<div id='S12' class='w3-cell' style='width:25%'></div>
			</div>

			<div id='Section2' class='w3-cell-row'>
			</div>

			<div id='hide'>
				<input type="hidden" name="Study" value="{{Study}}"/>
				<input type="hidden" name="DSName" value="{{IGDName}}"/>
				<input type="hidden" name="StandardName" value="{{StandardName}}"/>
				<input type="hidden" name="StandardVersion" value="{{StandardVersion}}"/>
			</div>
		</form>

	</div>
</body>

<script type="text/javascript">
	function BuildParms(pn,pcat) {

		//Add definitions
		$('#S12').append('<p><h1>Add new parameter</h1></p><p>Enter new parameter code<br><input type="text" max="8" size="8" id="pcd"></p><p>Enter parameter description<br><textarea rows="2" cols="20" id="parm"></textarea></p>')
		if (pn){
			$('#S12').append('<p>Parameter Number<br><input type="number" min="1" max="99" size="2" id="pn"></p>')
		}
		if (pcat>0){
			var x
			for (x=1; x<=pcat; x++){
				$('#S12').append('<p>Parameter Category #'+x+'<br><input type="text" class="pcat" id="pcat'+x+'"></p>')
			}
		}
		$('#S12').append('<p><select id="dtypelist" onchange="CustomDType()"><option id="dtypedefault" disabled selected>Select a DTYPE value</option><option>Custom</option></select></p>')
		$('#S12').append('<p><input type="button" class="w3-button w3-dark-grey w3-round-large" value="Add DTYPE" id="adddtype"/></p><table border="1" style="background-color:white" id="tblDType"><tr><th>DTYPE</th><th>Description</th><th>Remove</th></tr></table></p><p><input type="button" value="Complete Parameter" id="parmdone" class="w3-button w3-dark-grey w3-round-large"></p><p><input type="submit" value="Complete Parameter Set" id="parmsetdone" class="w3-button w3-dark-grey w3-round-large"></p>')

		$('#S11').append('<p><h1>Parameter List</h1></p>')

		var pntxt=''
		if (pn) {
			var pntxt='<th>Nbr</th>'
		}

		var pcattxt=''
		if (pcat>0){
			for (x=1; x<=pcat; x++){
				var pcattxt=pcattxt+'<th>Category '+x+'</th>'
			}
		}

		$('#S11').append('<table border="1" style="background-color:white" id="tblParms">'+pntxt+'<th>Code</th><th>Description</th><th>DTYPE values</th>'+pcattxt+'<th>Edit</th><th>Remove</th></tr></table>')
		}


	function NewParmSet(){
		$('#S11').append('<p>Here we define parameters for {{IGDName}}</p><input type="checkbox" id="paramnTF"> Check here to include numeric parameter represenations (PARAMN) <br><br><input type="number" id="parmcatNbr" value="0" min="0" max="9" size="1"> Identifty how many parameter categories (PARCATx) to include (0 to 9) <br><br><input type="button" class="w3-button w3-dark-grey w3-round-large" id="Start" value="Continue"/>');
	}

	function AddParm2Table(parmobj){
		// Add one row to the parameter table from a provided Javascript object
		var rowstring='<tr>';
		if (parmobj.paramn) {
			rowstring += '<td>'+parmobj.paramn + '</td>' ;
		}

		rowstring += '<td>'+parmobj.paramcd + '</td><td>'+parmobj.param+'</td><td>';

		if (parmobj.dtypes) {
			for (x in parmobj.dtypes) {
				rowstring += x+' ' ;
			}
		}
		rowstring += '</td>'


		if (parmobj.parcats) {
			var ctr=1 ;
			while ('parcat'+ctr in parmobj.parcats){
				rowstring += '<td>'+parmobj.parcats['parcat'+ctr]+'</td>' ;
				ctr++ ;
			}
		}

		var functioncall="RemoveRow('tblParms',this)";
		rowstring += '<td class="w3-center"><input type="button" class="w3-button w3-dark-grey w3-round-large" onclick="EditParm(false,this); '+functioncall+'" value="Edit"></td><td class="w3-center"><input type="button" class="w3-button w3-dark-grey w3-round-large" value="Remove" onclick="EditParm(true,this); '+functioncall+'"></td>'

		$(rowstring).appendTo('#tblParms') ;

	}

	function CustomDType() {
		var selection=document.getElementById('dtypelist').value ;
		if (selection == 'Custom') {
			$('#dtypelist').after('<p><input type="text" placeholder="DTYPE code" id="dtc"></p><p><textarea id="dtd" placeholder="DTYPE description"></textarea></p>');
		}
	}

	function RemoveRow(tableid,buttonobj) {
		// Remove a row from a table from a click of a button in the row
		// Get parent <td>
		var parenttd = buttonobj.parentElement ;
		// Get the parent <tr> element
		var parenttr = parenttd.parentElement ;
		// Get the table
		var table = document.getElementById(tableid) ;
		// Delete the row
		table.deleteRow(parenttr.rowIndex) ;

	}

	function RemoveParm(buttonobj) {
		// Remove a parameter from the JSON

		// First get the value of the first column, either a PARAMN or a PARAMCD
		// Get parent <td>
		var parenttd = buttonobj.parentElement ;
		// Get the parent <tr> element
		var parenttr = parenttd.parentElement ;
		// Get the value of the first cell
		var col1 = parenttr.children[0].innerHTML ;

		// Now get the JSON string and parse it
		var parmsobj=JSON.parse($('#parms').val());
		// Extract the list of dictionaries
		var parmslist=parmsobj.parms;
		// See if PARAMN is a key in the first object in the list.  If so, delete the object based on PARAMN.  Otherwise, delete based on PARAMCD.
		if ('paramn' in parmslist[0]) {
			for (x in parmslist) {
				if (parmslist[x]['paramn'] == col1) {
					delete parmslist[x] ;
				}
			}
		}

		else {
			for (x in parmslist) {
				if (parmslist[x]['paramcd'] == col1) {
					delete parmslist[x] ;
				}
			}
		}

	}

	function EditParm(RemoveOnly,buttonobj) {
		// Get the information from the given row and populate the parameter definition input boxes
		// Get parent <td>
		var parenttd = buttonobj.parentElement ;
		// Get the parent <tr> element
		var parenttr = parenttd.parentElement ;
		// Get the value of the first cell
		var col1 = parenttr.children[0].innerHTML ;
		// Get the value of the second cell
		var col2 = parenttr.children[1].innerHTML ;

		// Now get the JSON string and parse it
		var parmsobj=JSON.parse($('#parms').val());
		// Extract the list of dictionaries
		var parmslist=parmsobj.parms;
		// Set KEYVAL to the value of PARAMCD
		if ('paramn' in parmslist[0]) {
			var keyval=col2 ;
		}
		else {
			var keyval=col1 ;
		}

		for (x in parmslist) {
			if (parmslist[x]['paramcd'] == keyval) {
				if (! RemoveOnly) {
					if ('paramn' in parmslist[x]) {
						$('#pn').val(parmslist[x]['paramn']) ;
					}

					if ('parcats' in parmslist[x]) {
						for (y in parmslist[x]['parcats']) {
							var whichparcat = y.substr(6);
							$('#pcat'+whichparcat).val(parmslist[x]['parcats']["parcat"+whichparcat]) ;
						}
					}

					if ('dtypes' in parmslist[x]) {
						for (y in parmslist[x]['dtypes']) {
							var functioncall="RemoveRow('tblDType',this)";
							var rowstring = '<tr><td>'+y+'</td><td>'+parmslist[x]['dtypes'][y]+'</td><td><input type="button" onclick="'+functioncall+'" class="w3-button w3-dark-grey w3-round-large w3-center" value="Remove"></td></tr>'
							$(rowstring).appendTo('#tblDType') ;
						}
					}

					$('#pcd').val(parmslist[x]['paramcd']) ;
					$('#parm').val(parmslist[x]['param']) ;
				}

				parmslist.splice(x,1) ;
				// Put the modified object back into the hidden element
				$('#parms').val(JSON.stringify({"parms":parmslist})) ;

			}
		}
	}

</script>