<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<div class="w3-container w3-center w3-large">
	<p><b>STUDY: {{Study}}<br/></b></p>
	<p><b>Source Information for {{IGDName}}</b></p>
</div>

<div class="w3-container w3-teal">

	<p>To define a new data set, we begin by defining the main source data set. <br>Provide the name of the source, and if applicable, a description of the subset of the source.<br>Then click the button to begin defining predecessors of the source.
	</p>

	<form method="post" action="NewSource" style="height:100%">
		{% csrf_token %}
		<div id="inputs">

			<input type="hidden" name="RSType" value="{{RSType}}"/>
			<input type="hidden" name="Study" value="{{Study}}"/>
			<input type="hidden" name="DSName" value="{{IGDName}}"/>
			<input type="hidden" name="StandardName" value="{{StandardName}}"/>
			<input type="hidden" name="StandardVersion" value="{{StandardVersion}}"/>
			<input type="hidden" name="Class" value="{{Class}}"/>

			{% if NewStudy == "Y" %}
				<p>Source: SDTM.DM</p>
				<input type="hidden" name="SourceName" value="SDTM.DM"/>
			{% else %}
				<p>
				<label>Provide the name of the source data set (e.g. SDTM.DS, ADSL)</label><br/>
				<input name="SourceName" size="12" type="text"/>
				</p>
			{% endif %}

			<p>
				<textarea name="SourceDescription" cols="60" rows="3" placeholder="Provide a description of the subset of the source data set (if any) (e.g excluding screen failures)"></textarea>
			</p>

			{% if RSType == "MERGE" %}
				<p>
					<textarea name="SourceJoin" cols="60" rows="3" placeholder="Provide a description of how the data sets are to be merged."></textarea>
				</p>
			{% endif %}
		</div>

		<div id="buttons" class="w3-bar">
			{% if Action == "Add" %}
				<input type="submit" name="defpreds" value="Define Predecessors" class="w3-button w3-dark-grey w3-round-large"/>
				{% if RSType == "MERGE" %}
					<input type="submit" name="skippreds" value="Skip" class="w3-button w3-dark-grey w3-round-large"/>
				{% endif %}
			{% elif Action == "Edit" %}
				<input type="submit" name="ok" value="OK" formaction="editsourceds" class="w3-button w3-dark-grey w3-round-large"/>
			{% endif %}
		</div>
	</form>
</div>
