{% extends "StandardDeveloper1/sourcedef.html" %}

{% block GetSources %}
	$(document).ready(function(){
		$.getJSON('http://localhost:8000/StandardDeveloper1/GetRecordSources',{'Study':"{{Study}}"},function(data){
			$.each(JSON.parse(data),function(){
				$("#tbl1").append('<tr><td>'+this['Model']+'</td><td>'+this['Dataset']+'</td><td>'+this['Subset']+'</td><td><input type="checkbox"> </input></td></tr>');
			});
		});
	})

	$('form').submit(function() {
		var t=document.getElementById('tbl1') ;
		var rows=t.rows ;
		for (r=1;r<rows.length;r++) {
			chosen=rows[r].cells[3].children[0].checked ;
			if (chosen) {
				srclist.push({'Model':rows[r].cells[0].innerHTML,'Dataset':rows[r].cells[1].innerHTML,'Subset':rows[r].cells[2].innerHTML})
			}
		}
		var srcstring=JSON.stringify({'sources':srclist});
		$('[name="Sources"]').val(srcstring);
	})

	// When a button is clicked to add a new source
	$('[id^="add"]').click(function(){
		var model=$(this).attr('id').substr(3);

		if (model == "ADaM") {
			var ds=$('#adamds') ;
			var sub=$('#adamsubset') ;
		}

		else {
			var ds=$('#sdtmds') ;
			var sub=$('#sdtmsubset') ;
		}

		// Insert new source into table
		$("#tbl1").append('<tr><td>'+model+'</td><td>'+$(ds).val()+'</td><td>'+$(sub).val()+'</td><td class="w3-center"><input type="checkbox" class="tblsrc" checked></input></td></tr>') ;

		// Clear out text boxes
		$(ds).val(null) ;
		$(ds).attr('placeholder',model+' data set') ;
		$(sub).val(null);
		$(sub).attr('placeholder',model+' subset description (optional)')
	})

{% endblock %}

{% block Explanation %}
	<h1>Record Source Definitions</h1>
	
	<p>To define any new data set, we begin by defining its <i>Record Source</i> data sets. A Record Source is a data set from which records (observations) originated. <br>Identify by any of the methods below the Record Source(s) of {{IGDName}}.
	</p>

{% endblock %}

{% block NextSteps %}
Predecessors are variables we copy from another source.  We begin by defining predecessors from Record Source data sets.  Once you are finished defining Record Sources, click the button below to begin defining predecessors from these Record Sources.
{% endblock %}

{% block P1 %}
Select one or more current record source data sets
{% endblock %}

{% block T1 %}
<table border="1" style="background-color:white" id="tbl1">
	<tr><th>Model</th><th>Dataset</th><th>Subset</th><th>Include</th></tr>
</table>
{% endblock %}


{% block P2 %}
Define a new ADaM Record Source data set
{% endblock %}

{% block P3 %}
Define a new SDTM Record Source data set
{% endblock %}

{% block EndSourceADAM %}
<input type="button" id="addADaM" class="w3-button w3-dark-grey w3-round-large " value="Add ADaM record source"></input>
{% endblock %}

{% block EndSourceSDTM %}
<input type="button" id="addSDTM" class="w3-button w3-dark-grey w3-round-large " value="Add SDTM record source"></input><br><br>
{% endblock %}