<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<div class="w3-container w3-center w3-large">
	<p><b>STUDY: {{Study}}</b></p>
</div>

<form action='QueryStandardDSMD' class="w3-container w3-teal" style="height:100%">
	<input type="hidden" name="Study" value="{{Study}}"/>
	<input type="hidden" name="StandardName" value="{{StandardName}}"/>
	<input type="hidden" name="StandardVersion" value="{{StandardVersion}}"/>

	<div id="buttons" class="w3-bars w3-center">
		<input type="submit" value="Generate Define.xml (2.0)" class="w3-button w3-dark-grey w3-round-large"/>
		<input type="submit" value="Generate Excel Programming Spec" class="w3-button w3-dark-grey w3-round-large"/>
	</div>

	<div class="w3-cell-row">
		<div class="w3-cell" style="width:45%">
			<p class="w3-center">Datasets to add to {{Study}}</p>
			<table border="1 solid" class="w3-table-all w3-hoverable">
				<tr>
					<th>Dataset</th>
					<th class="w3-center">Add</th>
				</tr>
				{% for x in AddDatasets %}
					<tr>
						<!-- <td>{{x.name}}</td> -->
						<td>{{x}}</td>
						<td class='w3-center'>
							<input type="submit" name="add_{{ x }}" value="Add" class="w3-button w3-dark-grey w3-round-large"/>
						</td>
					</tr>
				{% endfor %}

				{% for x in ClassList %}
					<tr>
						<td>General {{x}}</td>
						<td class="w3-center">
							<input type="submit" name="{{x}}" value="Add" class="w3-button w3-dark-grey w3-round-large"/>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>

		<div class="w3-cell" style="width:10%">
			<p></p>
		</div>

		<div class="w3-cell w3-center" style="width:45%">
			<p class="w3-center">{{Study}} Datasets</p>
			<table border="1 solid" class="w3-table-all w3-hoverable">
				<tr>
					<th>Dataset</th>
					<th class="w3-center">Remove</th>
					<th class="w3-center">Edit</th>
				</tr>
				{% for x in StudyDatasets %}
					<tr>
						<td>{{x.dsname}}</td>
						<td class='w3-center'>
							<input type="submit" name="remove_{{ x.dsname }}" value="Remove" class="w3-button w3-dark-grey w3-round-large"/>
						</td>
						<td class='w3-center'>
							<input type="submit" name="edit_{{ x.dsname }}" value="Edit" class="w3-button w3-dark-grey w3-round-large" formaction="QSDS"/>
						</td>
					</tr>
				{% endfor %}
			</table>
			<p/>
		</div>
	</div>
</form>