<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

{% load static %}
<head>
	{% include 'StandardDeveloper1/head.html' %}

<script>
	
	$(document).ready(function(){

		{% block GetStudyInfo %}{% endblock %}

		// Get Study info and plug it into the template below
		$.getJSON($('[name=URLPath]').val()+'GetStudyInfo',{Study:"{{Study}}"},function(data) {
			$('#protocol').html('Protocol Name: <br>'+data[0]['ProtocolName']) ;
			$('#studydesc').html('Study Description: <br>'+data[0]['Description']) ;
		}) ;

		$('#docs').bootstrapTable({
			url:$('[name=URLPath]').val()+'GetDocs',
			queryParams:{Study:"{{Study}}"},
			columns:[{
				field:'Name',
				title:'Name'
			},{
				field:'File',
				title:'File'
			}]
		}) ;

		$('#dicts').bootstrapTable({
			url:$('[name=URLPath]').val()+'GetDicts',
			queryParams:{Study:"{{Study}}"},
			columns:[{
				field:'Name',
				title:'Name'
			},{
				field:'Description',
				title:'Description'
			},{
				field:'Version',
				title:'Version'
			}]
		}) ;

		$('#adslbutton').click(function() {
			// Begin the definition of ADSL
			$('#mh4').text('ADSL metadata') ;
			$('[name=IGDSource]').val('Standard') ;
			$.getJSON($('[name=URLPath]').val()+'GetStandardDS',{'DSName':'ADSL','StandardName':"{{StandardName}}",'StandardVersion':"{{StandardVersion}}"},function(data) {
				$('#mh4').text(data[0]['Name']+' metadata');
				var MDDic={'Name':data[0]['Name'],'Label':data[0]['Label'],'Class':data[0]['Class'],'Structure':data[0]['Structure'],'Repeating':data[0]['Repeating'],'Reference':data[0]['Reference'],'Purpose':'Analysis','StandardTF':true} ;
				$('[name=MD]').val(JSON.stringify(MDDic)) ;

				$('#mb').append('<p>For other data sets, some of the below metadata properties will be editable, but CDISC sets them in stone for ADSL.  Review them and click Next to begin defining record sources.</p>');
				DisplayDatasetMD(MDDic) ;
				$('#myModal form').attr('id','dsmd');
				$('#myModal').modal('show') ;
			})
		})

		// When a new, non-ADSL data set is to be defined
		$('.container').on('click','[id^=ADD_]',function(){
			// Determine which standard data set was chosen or general data set class was chosen
			var selection=$(this).text() ;

			// If a general data set structure was chosen, then simply pass the CLASS value to the MD dictionary as well as to the DisplayDatasetMD function, but no data query is needed.
			if (['Add BDS','Add Occurrence','Add Other ADaM'].includes(selection)) {
				$('#mh4').text('Dataset metadata');
				$('[name=IGDSource]').val('Model');
				var ClassDic={'Add BDS':'BASIC DATA STRUCTURE','Add Occurrence':'OCCURRENCE DATA STRUCTURE','Add Other ADaM':'ADAM OTHER DATA STRUCTURE'} ;
				var MDDic={'Name':'','Label':'','Class':ClassDic[selection],'StandardTF':false,'Purpose':'Analysis'} ;
				$('[name=MD]').val(JSON.stringify(MDDic)) ;
				$('#mb').empty(); 
				$('#mf').empty();
				$('#mf').append('<input type="button" class="btn btn-success" value="Next" id="ToRecordSourceFromAddDSMD">') ;
				DisplayDatasetMD(MDDic) ;
				$('#myModal form').attr('id','dsmd');
				$('#myModal').modal('show') ;
			}

			// Otherwise, if a specific data set was chosen from the standard, then query it
			// Note that MDDIC is what is being passed to the function, but only part of that is being saved to MD
			else {
				$.getJSON($('[name=URLPath]').val()+'GetStandardDS',{'DSName':selection,'StandardName':"{{StandardName}}",'StandardVersion':"{{StandardVersion}}"},function(data) {
					$('#mh4').text(data[0]['Name']+' metadata');
					var MDDic={'Name':data[0]['Name'],'Label':data[0]['Label'],'Class':data[0]['Class'],'Structure':data[0]['Structure'],'Repeating':data[0]['Repeating'],'Reference':data[0]['Reference'],'Purpose':'Analysis','StandardTF':true} ;
					$('[name=MD]').val(JSON.stringify({'Name':data[0]['Name'],'Label':data[0]['Label'],'Class':data[0]['Class'],'StandardTF':true,'Purpose':'Analysis'})) ;
					DisplayDatasetMD(MDDic) ;
					$('#myModal form').attr('id','dsmd');
					$('#myModal').modal('show') ;
				})
				$('[name=IGDSource]').val('Standard') ;
			}

			$('#myModal').modal('show') ;
		})

		// When editing a study data set
		$('.container').on('click','#pencilwithtrash',function(){
			$('[value=Next]').attr('id','ToRecordSourceFromEditDSMD') ;
			// Determine which study data set was chosen
			var rowindex=$(this).closest('tr').data('index'); 
			var chosends=$('#dsmdtable').bootstrapTable('getData')[rowindex]['Dataset'] ;

			// Query the study
			$.getJSON($('[name=URLPath]').val()+'GetStudyDS',{'DSName':chosends,'Study':$('[name=Study]').val()},function(data) {
				$('#mh4').text(data[0]['Dataset']+' metadata');
				var MDDic={'Name':data[0]['Dataset'],'Label':data[0]['Label'],'Class':data[0]['Class'],'Structure':data[0]['Structure'],'Repeating':data[0]['Repeating'],'Reference':data[0]['Reference'],'Purpose':'Analysis','StandardTF':data[0]['StandardTF']} ;

				if (data[0]['StandardTF']) {
					$('[name=MD]').val(JSON.stringify({'Name':data[0]['Dataset'],'Label':data[0]['Label'],'Class':data[0]['Class'],'StandardTF':true,'Purpose':'Analysis'})) ;
				}
				else {
					$('[name=MD]').val(JSON.stringify({'Class':ClassDic[selection],'StandardTF':false,'Purpose':'Analysis'}))
				}

				DisplayDatasetMD(MDDic) ;
				$('#myModal form').attr('id','dsmd');
				$('#myModal').modal('show') ;
			})
		})

		$('#spec').click(function() {
			$('#mb').empty() ;
			$('#mb').append('<p>Please provide a name for the programming spec file (without the file extension)</p><input type="text" size="20" autofocus name="specfilename" value="ProgrammingSpec" >.xlsx')
			$('#mf').empty() ;
			$('#mf').append('<input type="submit" class="btn btn-success" value="Generate Spec" formaction="GenerateADaMSpec">')
			$('#myModal form').attr('id','GenerateADaMSpec');
			$('#myModal').modal() ;
		})

		$('#define').click(function() {
			$('#mb').empty() ;
			$('#mb').append('<p>Please provide a name for the define file (without the file extension)</p><input type="text" size="20" autofocus name="definefilename" value="define" >.xml')
			$('#mf').empty() ;
			$('#mf').append('<input type="submit" class="btn btn-success" value="Generate Define" formaction="GenerateDefine">')
			$('#myModal form').attr('id','GenerateDefine');
			$('#myModal').modal() ;
		})

	})

</script>


</head>

<body style="font-family: 'Lora', serif;">

  {% include 'StandardDeveloper1/sidebar.html' %}

  {% include 'StandardDeveloper1/topbar.html' %}


<form id="pageform" method="post" action="EditVarFromHome">
{% csrf_token %}
<div id="hide">
	<input type="hidden" name="StandardName" value="{{StandardName}}"/>
	<input type="hidden" name="Study" value="{{Study}}"/>
	<input type="hidden" name="StandardVersion" value="{{StandardVersion}}"/>
	<input type="hidden" name="IGDSource"/>
	<input type="hidden" name="Dataset"/>
	<input type="hidden" name="Class"/>
	<input type="hidden" name="URLPath" value="{{URLPATH}}"/>
</div>



<div class="container">
	<h2>Study: {{Study}}</h2>
	<p>{% block Instruction %}{% endblock %}</p>
	{% block Outputs %}{% endblock %}
	<hr>
	<h3>Study-Level metadata summary</h3>
	<p id="protocol"></p>
	<button type="button" class="btn btn-success">Edit Protocol Name</button>
	<hr>
	<p>Dictionaries</p>
	<table id="dicts"></table>
	<button type="button" class="btn btn-success">Edit Dictionaries</button>
	<hr>
	<p>Documents</p>
	<table id="docs"></table>
	<button type="button" class="btn btn-success">Edit Documents</button>
	<hr>
	<p id="studydesc"></p>
	<button type="button" class="btn btn-success">Edit Description</button>
	{% block menus %}{% endblock %}
	{% block table %}{% endblock %}
	{% block adslbutton %}{% endblock %}
</div>
</form>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form action='NewDS' method="post" >
				{% csrf_token %}
				<div id="hidemodal">
					<input type="hidden" name="StandardName" value="{{StandardName}}"/>
					<input type="hidden" name="Study" value="{{Study}}"/>
					<input type="hidden" name="StandardVersion" value="{{StandardVersion}}"/>
					<input type="hidden" name="IGDSource"/>
					<input type="hidden" name="MD"/>
					<input type="hidden" name="RecordSources"/>
					<input type="hidden" name="StandardTF"/>
					<input type="hidden" name="Parcats"/>
					<input type="hidden" name="Parmdefs"/>
					<input type="hidden" name="Comment"/>
					<input type="hidden" name="URLPath" value="{{URLPATH}}"/>
				</div>
			    <div class="modal-header" id="mh">
			    	<button type="button" class="close" data-dismiss="modal">&times;</button>
			    	<h4 class="modal-title" id="mh4"></h4>
			    </div>

			    <div class="modal-body" id="mb">
			    </div>

	            <div class="modal-footer" id="mf">
	            	<input type="button" class="btn btn-success" value="Next" id="ToRecordSourceFromAddDSMD">
	            </div>
        	</form>
		</div>
	</div>
</div>

{% include 'StandardDeveloper1/footer.html' %}

</body>
</html>