
<p>Your new codelist has been successfully created and added to the database</p>
<p>New codelist short name: {{OID}}</p>
<p>New codelist long name:  {{NewName}}</p>

{% if IndexChoice == 'global' %}
<form action="displayNCI">
<input type="submit" name="nextstep" value="Create another child codelist"/>&nbsp;
</form>

<form action="{% url 'index' %}">
<input type="submit" name="nextstep" value="Home"/>
</form>

{% else %}
<form action="displayStudy">
<input type="submit" name="nextstep" value="Back to Study"/>
</form>

{% endif %}