<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<div class="w3-container w3-center w3-large">
	<p><b>STUDY: {{Study}}<br/>
		{{DSName}} Metadata<br/>
		Select {{SourceDS}} {{VarType}} Variables</b></p>
</div>

<div>
<form method="post" action='ModifyaVariable' class="w3-container w3-teal" style="height:100%">
{% csrf_token %}
	<input type="hidden" name="DSName" value="{{DSName}}"/>
	<input type="hidden" name="VarType" value="{{VarType}}"/>
	<input type="hidden" name="SourceDS" value="{{SourceDS}}"/>
	<input type="hidden" name="RSType" value="{{RSType}}"/>
	<div class="w3-cell-row" style="position:relative">
		<div class="w3-cell" style="width:45%">
			<p class="w3-center">{{VarType}} Variables to Add</p>
			<table border="1 solid" class="w3-table-all">
				<thead>
					<tr>
						<th>Variable</th>
						<th class="w3-center">Add</th>
					</tr>
				</thead>
				<tbody>
				{% for x in StdVarList %}
					<tr>
						<td>{{x}}</td>
						<td class='w3-center'>
							<input type="submit" value="Add" class="w3-button w3-dark-grey w3-round-medium" name="add_{{x}}"/>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<p/>
			{% if VarType == "Predecessor" %}
				<input type="submit" value="Define another Predecessor" class="w3-button w3-dark-grey w3-round-large" name="new_var"/>
				<p/>
				<input type="submit" value="Finish and define a Merge data set" class="w3-button w3-dark-grey w3-round-large" name="merge"/>
			{% endif %}
		</div>

		<div class="w3-cell" style="width:10%">
			<p></p>
		</div>

		<div class="w3-cell" style="width:45%">
			<p class="w3-center">{{Study}} {{DSName}} {{VarType}} Variables</p>
			<table border="1 solid" class="w3-table-all w3-hoverable">
				<thead>
					<tr>
						<th>Variable</th>
						<th>Label</th>
						<th class="w3-center">Remove</th>
					</tr>
				</thead>
				<tbody>
				{% for x in StudyVarList %}
					<tr>
						<td>{{x.Name}}</td>
						<td>{{x.Label}}</td>
						<td class='w3-center'>
							<input type="submit" value="Remove" class="w3-button w3-dark-grey w3-round-medium" name="rmv_{{x.Name}}"/>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

	</div>

</div>

