<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<div class="w3-container w3-center w3-large">
	<p><b>{{Header}}</b></p>
</div>

<div>
<form method="post" action='ModifyVars' class="w3-container w3-teal">
{% csrf_token %}
	<div class="w3-cell-row">
		<div class="w3-cell" style="width:25%" >
			<br/>
			<input type="hidden" name="DSClass" value="{{Class}}"/>
			<input type="text" maxlength="8" size="8" value="{{Name}}" name="DSName"/><br><label>Dataset Name</label><br/><br/>
			Can subject have more than one row?
			<select name="DSRepeat">
				<option {% if Repeating == "Yes" %} selected {% endif %}>Yes</option>
				<option {% if Repeating == "No" %} selected {% endif %}>No</option>
			</select><br>
		</div>
		<div class="w3-cell" style="width:35%">
			<br/>
			<input type="text" maxlength="40" size="40" name="DSLabel" value="{{Label}}"/><br><label>Dataset Label</label><br/><br/>
			Reference Data?
			<select name="DSIsRef">
				<option {% if Reference == "Yes" %} selected {% endif %}>Yes</option>
				<option {% if Reference == "No" %} selected {% endif %}>No</option>
			</select>
		</div>
		<div class="w3-cell" style="width:40%">
			<br/>
			<input type="text" maxlength="75" size="75" name="DSStructure" value="{{Structure}}"/><br><label>Dataset Structure</label><br/><br/>
		</div>
	</div><hr/>

	<div class="w3-cell-row" style="position:relative">
		<div class="w3-cell" style="overflow:scroll;width:45%">
			<p class="w3-center">Model Variables</p>
			<table border="1 solid" class="w3-table-all w3-hoverable">
				<thead>
					<tr>
						<th>Variable</th>
						<th class="w3-center">Add</th>
					</tr>
				</thead>
				<tbody>
				{% for x in Itemdefs %}
					<tr>
						<td>{{x.Name}}</td>
						<td class='w3-center'>
							{% if Name == "ADSL" %}
								<input type="checkbox" class="w3-check" name="d_{{x.OID}}"/>
							{% else %}
								<input type="checkbox" class="w3-check" name="m_{{x.OID}}"/>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="w3-cell" style="width:10%">
			<p></p>
		</div>

		<div class="w3-cell" style="width:45%">
			<p class="w3-center">Additional Variables</p>
			<input type="text" name="varname" id="varname" maxlength="8" placeholder="Variable Name"/><br/><br/>
			<textarea type="textarea" name="varlabel" id="varlabel" cols="40" rows="5" maxlength="200" placeholder="Variable Label"></textarea>&nbsp;
			<input type="button" class="w3-button w3-dark-grey w3-round-medium" value="Add" onclick="AddVar()"/>
			<p></p>
			<table id="t2" border="1 solid" class="w3-table-all w3-hoverable">
				<tr>
					<th>Variable</th>
					<th class="w3-center">Add</th>
				</tr>
			</table><br/><br/>
			<input type="submit" name="submit" value="Save" class="w3-button w3-dark-grey w3-round-medium"/>&nbsp;&nbsp;
			<input type="submit" name="submit" value="Cancel" class="w3-button w3-dark-grey w3-round-medium"/>
		</div>
	</div>
</form>
</div>

<script>
function AddVar() {
	var formelement = document.getElementsByTagName("form")[0];
	var tr = document.createElement("tr") ;
	var td1 = document.createElement("td") ;
	var td2 = document.createElement("td") ;
	var ckbox = document.createElement("input");
	var hide = document.createElement("input");
	var varname = document.getElementById("varname");
	var varlabel = document.getElementById("varlabel");
	var tbl = document.getElementById("t2") ;

	ckbox.setAttribute("type","checkbox");
	ckbox.checked="true";
	ckbox.setAttribute("class","w3-check");
	ckbox.name="n_"+varname.value ;

	hide.setAttribute("type","hidden");
	hide.name="nh_"+varname.value ;
	hide.value=varlabel.value ;

	td1.appendChild(document.createTextNode(varname.value));
	td2.setAttribute("class","w3-center");

	td2.appendChild(ckbox);
	tr.appendChild(td1);
	tr.appendChild(td2);
	tbl.appendChild(tr);
	formelement.appendChild(hide);
	varname.value="";
	varlabel.value="";
	varname.setAttribute("placeholder","Variable Name");
	varlabel.setAttribute("placeholder","Variable Label");

}
</script>