<body>
<p>Parent Codelist: {{ParentOID}} <br/> {{ParentName}} </p>

<form method="post" action="Back2DBCodeList">
{% csrf_token %}
<input type="hidden" name="ParentOID" value="{{ParentOID}}"/>
<input type="hidden" name="ParentName" value="{{ParentName}}"/>
<input type="hidden" name="NextChild" value="{{NextChild}}"/>
<input type="hidden" name="Extensible" value="{{ParentExt}}"/>
<input type="hidden" name="Alias" value="{{ParentAlias}}"/>
<input type="hidden" name="DataType" value="{{DataType}}"/>

<p> Describe the relationship of this codelist to its parent </p>
<textarea rows="2" cols="40" maxlength="80" name="newname"></textarea>

<p>Select the items for this codelist</p>

<input type="button" name="selectall" onclick="AllChecks('select')" value="Select All"/> &nbsp;
<input type="button" name="clearall" onclick="AllChecks('clear')" value="Clear All"/><br/><br/>

<div id="itemlist">
{% for x in Items %}
	<input type="checkbox" name="c_{{x.codedvalue}}">{{x.codedvalue}} ({{x.decode}})</input><br/>
{% endfor %}
</div>

<div id="therest">
<input type="button" value="Add a Codelist Extension" id="acebutton" onclick="ext()"/><br/>
</div>

<input type="submit" name="submit" value="Save" id="save"/> &nbsp;
<input type="submit" name="submit" value="Cancel"/>

</form>

<script>
function AllChecks(CheckType) {
    var x = document.getElementsByTagName("input");
    var i;
    if (CheckType == "select"){
    for (i = 0; i < x.length; i++) {
        if (x[i].type == "checkbox") {
            x[i].checked = true;
        }
    }
	}

	else {
	    for (i = 0; i < x.length; i++) {
        if (x[i].type == "checkbox") {
            x[i].checked = false;
        }
    }
	}
}

function ext(){
	var textarea1 = document.createElement("textarea");
	var textarea2 = document.createElement("textarea");
	var addbutton = document.createElement("input");
	var rows1 = document.createAttribute("rows");
	var cols1 = document.createAttribute("cols");
	var maxL1 = document.createAttribute("maxLength");
	var type1 = document.createAttribute("type");
	var valu1 = document.createAttribute("value");
	var rows2 = document.createAttribute("rows");
	var cols2 = document.createAttribute("cols");
	var click = document.createAttribute("onclick");
	var addid = document.createAttribute("id");
	var formelement = document.getElementsByTagName("form")[0];
	var divelement = document.getElementById("therest");
	var aceelement = document.getElementById("acebutton");
	var text1 = document.createTextNode("Provide Submission value here");
	var text2 = document.createTextNode("Provide Decode here if applicable");

	rows1.value = "5";
	rows2.value = "5";
	cols1.value = "40";
	cols2.value = "40";
	maxL1.value = "200";
	type1.value = "button";
	valu1.value = "Add";
	click.value = "AddItem()";
	addid.value = "addid";

	textarea1.setAttributeNode(rows1);
	textarea1.setAttributeNode(cols1);
	textarea1.setAttributeNode(maxL1);
	textarea2.setAttributeNode(rows2);
	textarea2.setAttributeNode(cols2);
	addbutton.setAttributeNode(type1);
	addbutton.setAttributeNode(valu1);
	addbutton.setAttributeNode(addid);
	addbutton.setAttributeNode(click);
	divelement.removeChild(aceelement);
	divelement.appendChild(textarea1);
	divelement.appendChild(document.createElement("br"));
	divelement.appendChild(textarea2);
	divelement.appendChild(document.createElement("br"));
	divelement.appendChild(document.createElement("br"));
	divelement.appendChild(addbutton);
	textarea1.appendChild(text1);
	textarea2.appendChild(text2);

}

function AddItem() {
	var formelement = document.getElementsByTagName("form")[0];
	var divelement1 = document.getElementById("itemlist");
	var divelement2 = document.getElementById("therest");
	var divelement3 = document.createElement("div") ;
	var textareas = divelement2.getElementsByTagName("textarea");
	var text1 = textareas[0].value ;
	var text2 = textareas[1].value ;
	var text3 = document.createTextNode(text1+' ('+text2+')') ;
	var addbutton = document.getElementById("addid");
	var aceelement = document.createElement("input");
	var ckbox = document.createElement("input");
	var hideelement = document.createElement("input");
	var att1 = document.createAttribute("value");
	var att2 = document.createAttribute("id");
	var att3 = document.createAttribute("onclick");
	var att4 = document.createAttribute("type");
	var type = document.createAttribute("type") ;
	var name = document.createAttribute("name") ;
	var chck = document.createAttribute("checked") ;
	var label = document.createElement('label');
	var hidename = document.createAttribute("name") ;
	var hidevalue = document.createAttribute("value") ;

	att1.value = "Add a Codelist Extension" ;
	att2.value = "acebutton" ;
	att3.value = "ext()" ;
	att4.value = "button";
	type.value = "checkbox" ;
	name.value = 'ec_'+text1 ;
	chck.value = "true";
	divelement3.id="therest" ;
	hideelement.type="hidden";
	hidename.value = 'e_'+text1;
	hidevalue.value = text2 ;


	formelement.removeChild(divelement2);
	aceelement.setAttributeNode(att1);
	aceelement.setAttributeNode(att2);
	aceelement.setAttributeNode(att3);
	aceelement.setAttributeNode(att4);
	ckbox.setAttributeNode(type);
	ckbox.setAttributeNode(name);
	ckbox.setAttributeNode(chck);
	label.appendChild(text3);
	divelement3.appendChild(aceelement);
	divelement1.appendChild(ckbox);
	divelement1.appendChild(label);
	divelement1.appendChild(document.createElement("br"));
	formelement.insertBefore(divelement3,document.getElementById("save"));
	hideelement.setAttributeNode(hidename) ;
	hideelement.setAttributeNode(hidevalue) ;
	formelement.appendChild(hideelement) ;
}

</script>
</body>