<body>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<div class="w3-container w3-center w3-large">
	<p><b>Codelist: {{OID}}</b></p>
	<p><b>Description: {{Name}}</b></p>
	<p><b>Data Type: {{datatype}}</b></p>
</div>

<form method="post" action='DBChangeFromNew' class="w3-container w3-teal">
{% csrf_token %}
<input type="hidden" name="OID" value="{{OID}}"/>
<input type="hidden" name="Name" value="{{Name}}"/>
<input type="hidden" name="datatype" value="{{datatype}}"/>

<div class="w3-cell-row">

	<div class="w3-cell" style="width:50%; height:100%">
		<p>Codelist Items</p>

		<input type="submit" name="submit" value="Save" id="save" class="w3-button w3-dark-grey w3-round-large"/> &nbsp;
		<input type="submit" name="submit" value="Cancel" class="w3-button w3-dark-grey w3-round-large"/>

		<div id="itemlist">
		</div>
	</div>

	<div id="therest" class="w3-cell">
		<p>Add Terms</p>
		<textarea name="t1" cols="40" rows="5" maxlength="200" placeholder="Extended Value"></textarea><br/><br/>
		<textarea name="t2" cols="40" rows="5" maxlength="200" placeholder="Extended Decode"></textarea><br/><br/>
		<input value="Add CodeList Extension" type="button" onclick="AddItem();" class="w3-button w3-dark-grey w3-round-large"/>
	</div>

</div>
</form>

<script>

function AddItem() {
	var formelement = document.getElementsByTagName("form")[0];
	var divelement1 = document.getElementById("itemlist");
	var divelement2 = document.getElementById("therest");
	var textareas = divelement2.getElementsByTagName("textarea");
	var text1 = textareas[0].value ;
	var text2 = textareas[1].value ;
	var text3 = document.createTextNode(text1+' ('+text2+')') ;
	var aceelement = document.createElement("input");
	var ckbox = document.createElement("input");
	var hideelement = document.createElement("input");

	var type = document.createAttribute("type") ;
	var name = document.createAttribute("name") ;
	var chck = document.createAttribute("checked") ;
	var label = document.createElement('label');
	var hidename = document.createAttribute("name") ;
	var hidevalue = document.createAttribute("value") ;
	var chkclass = document.createAttribute("class") ;

	type.value = "checkbox" ;
	name.value = 'ec_'+text1 ;
	chck.value = "true";
	hideelement.type="hidden";
	hidename.value = 'e_'+text1;
	hidevalue.value = text2 ;
	chkclass.value="w3-check"

	ckbox.setAttributeNode(type);
	ckbox.setAttributeNode(name);
	ckbox.setAttributeNode(chck);
	ckbox.setAttributeNode(chkclass);
	label.appendChild(text3);
	divelement1.appendChild(ckbox);
	divelement1.appendChild(label);
	divelement1.appendChild(document.createElement("br"));
	hideelement.setAttributeNode(hidename) ;
	hideelement.setAttributeNode(hidevalue) ;
	formelement.appendChild(hideelement) ;
	textareas[0].value="";
	textareas[1].value="";
	textareas[0].setAttribute("placeholder","Extended Value")
	textareas[1].setAttribute("placeholder","Extended Decode")
}

</script>
</body>