<form action="DBChangeFromNew" method="post">
{% csrf_token %}
<input type="hidden" name="OID" value="{{OID}}"/>
<input type="hidden" name="Name" value="{{Name}}"/>
<input type="hidden" name="datatype" value="{{datatype}}"/>
<p>CodeList Short Name: {{OID}}</p>
<p>CodeList Description: {{Name}}</p>
<div id="itemlist"></div>

<div id="therest">
<input type="button" value="Add an item" id="acebutton" onclick="ext()"/><br/>
</div>

<input type="submit" name="submit" value="Save" id="save"/> &nbsp;
<input type="submit" name="submit" value="Cancel"/>

</form>

<script>
function ext(){
	var formelement = document.getElementsByTagName("form")[0];
	var divelement = document.getElementById("therest");

	{% if datatype == "text" %}
	var Code = document.createElement("textarea");
	var text1 = document.createTextNode("Provide Submission value here");
	var rows1 = document.createAttribute("rows");
	var cols1 = document.createAttribute("cols");
	var maxL1 = document.createAttribute("maxLength");
	rows1.value = "5";
	cols1.value = "40";
	maxL1.value = "200";
	Code.setAttributeNode(rows1);
	Code.setAttributeNode(cols1);
	Code.setAttributeNode(maxL1);
	{% endif %}

	{% if decodeflag %}
	var decode = document.createElement("textarea");
	var text2 = document.createTextNode("Provide Decode here");
	var rows2 = document.createAttribute("rows");
	var cols2 = document.createAttribute("cols");
	rows2.value = "5";
	cols2.value = "40";
	decode.setAttributeNode(rows2);
	decode.setAttributeNode(cols2);
	decode.appendChild(text2);
	{% endif %}

	var addbutton = document.createElement("input");
	var type1 = document.createAttribute("type");
	var valu1 = document.createAttribute("value");
	var click = document.createAttribute("onclick");
	var addid = document.createAttribute("id");
	type1.value = "button";
	valu1.value = "Add";
	click.value = "AddItem()";
	addid.value = "addid";
	addbutton.setAttributeNode(type1);
	addbutton.setAttributeNode(valu1);
	addbutton.setAttributeNode(addid);
	addbutton.setAttributeNode(click);

	var aceelement = document.getElementById("acebutton");

	divelement.removeChild(aceelement);
	Code.id = 'Code';
	Code.appendChild(text1);
	divelement.appendChild(Code);
	divelement.appendChild(document.createElement("br"));
	{% if decodeflag %}
		decode.id = 'Decode';
		divelement.appendChild(decode);
		divelement.appendChild(document.createElement("br"));
		divelement.appendChild(document.createElement("br"));
	{% endif %}
	divelement.appendChild(addbutton);

}

function AddItem() {
	var formelement = document.getElementsByTagName("form")[0];
	var divelement1 = document.getElementById("itemlist");
	var divelement2 = document.getElementById("therest");
	var divelement3 = document.createElement("div") ;
	divelement3.id="therest" ;
	var text1 = document.getElementById("Code").value;

	var hideelement = document.createElement("input");
	var hidename = document.createAttribute("name") ;
	hideelement.type="hidden";
	hidename.value = 'e_'+text1;
	hideelement.setAttributeNode(hidename) ;
	
	{% if decodeflag %}
		var hidevalue = document.createAttribute("value") ;
		var text2 = document.getElementById("Decode").value;
		hidevalue.value = text2 ;
		hideelement.setAttributeNode(hidevalue) ;
		var text3 = document.createTextNode(text1+' ('+text2+')') ;
	{% else %}
		var text3 = document.createTextNode(text1) ;
	{% endif %}

	var aceelement = document.createElement("input");
	var att1 = document.createAttribute("value");
	var att2 = document.createAttribute("id");
	var att3 = document.createAttribute("onclick");
	var att4 = document.createAttribute("type");
	att1.value = "Add an item" ;
	att2.value = "acebutton" ;
	att3.value = "ext()" ;
	att4.value = "button";
	aceelement.setAttributeNode(att1);
	aceelement.setAttributeNode(att2);
	aceelement.setAttributeNode(att3);
	aceelement.setAttributeNode(att4);

	formelement.removeChild(divelement2);
	divelement3.appendChild(document.createElement("br"));
	divelement3.appendChild(aceelement);
	divelement1.appendChild(text3);
	divelement1.appendChild(document.createElement("br"));
	formelement.insertBefore(divelement3,document.getElementById("save"));
	formelement.appendChild(hideelement) ;
}

</script>
</form>