<form>
<select name="indexchoice1" id="idxc">
	<option>Select a task</option>
	<option value="global">Build child codelists from global controlled terminology</option>
	<option value="newstudy">Create controlled terminology for a study</option>
	<option value="currentstudy">Edit controlled terminology for an existing study</option>
</select>

<select name="indexchoice2" id="idxc2">
	<option>Select a task</option>
	<option value="g2">G2</option>
	<option value="n2">N2</option>
	<option value="c2">C2</option>
</select>

<input type="submit"/>

</form>